.itemHist {
    margin-right: w(-25px);
    margin-top: w(72px);
}

.sliderWrap {
    background-color: #f2f2f2;
    height: 100%;
    top: 0;
}

.owl-carousel {
    padding: 0;
}

.carousel__item {
    width: auto;
    background-color: inherit;
}

.owl-stage-outer {
    margin-top: w(60px);
}

.sliderName {
    position: absolute;
    height: w(32px);
}

.owl-nav {
    position: absolute;
    width: 100%;
}
