.contactMap {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 7;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity .3s ease;
    overflow: hidden;
}

.contactMap_display-none {
    display: none;
}

.contactMap__block {
    width: w(980px);
    height: auto;
    background-color: white;
    padding-top: w(22px);
    position: relative;
    border-radius: w(4px);
    filter: grayscale(1);
    transition: bottom .3s ease;
    bottom: w(-1000px);
    height: 80%;
    overflow: hidden;
}

.contactMap__row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin-bottom: w(22px);
    position: relative;
}

.contactMap__img {
    width: w(20px);
    height: w(20px);
    background-image: url(../../img/contact/close.png);
    background-size: 100% 100%;
    cursor: pointer;
    position: absolute;
    right: w(23px);
}

.contactMap__h1 {
    font-weight: 300;
    text-align: center;
}

.contactMap__p {
    text-align: center;
    line-height: w(20px);
}

#map {
    margin-top: w(16px) !important;
    width: 100% !important;
    height: 100% !important;
}

#map {
    ymaps {
        border-radius: w(4px) !important;
    }

    .ymaps-2-1-79-image {
        border-radius: 0 !important;
        width: w(37px) !important;
        height: w(35px) !important;
        background-size: 100% 100% !important;
    }

}

.ymaps-2-1-79-copyright {
    display: none !important;
}
