.brand {
    position: relative;
    margin-top: w(64px);
}

.carousel__img_logo {
    width: 100%;
    height: w(124px);
    background-size: 100% 100%;
    cursor: pointer;
    margin-right: w(25px);
    margin-bottom: 0;
}
